:root {
	--font-family-main: "consolas", "times new roman", serif;

	// xs
	--font-size-xs: 12px;
	--font-line-xs: 16px;
	--font-xs: var(--font-size-xs) / var(--font-line-xs) var(--font-family-main);

	// s
	--font-size-s: 14px;
	--font-line-s: 18px;
	--font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);

	// m
	--font-size-m: 16px;
	--font-line-m: 20px;
	--font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);

	//  l
	--font-size-l: 20px;
	--font-line-l: 26px;
	--font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);

	// xl
	--font-size-xl: 24px;
	--font-line-xl: 30px;
	--font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);

	// Размеры
	--full-height: 100vh;
	--navbar-height: 50px;
	--sidebar-width: 300px;
	--sidebar-width-collapsed: 80px;

	// Borders
	--border-radius-s: 4px;
	--border-radius-m: 8px;
	--border-radius-l: 16px;

	// Spacing
	--spacing-xs: 4px;
	--spacing-s: 8px;
	--spacing-m: 12px;
	--spacing-l: 16px;
	--spacing-xl: 24px;

	// z-index
	--modal-z-index: 6;
	--overlay-z-index: 4;

	// Цвета
	--overlay-color: rgb(0 0 0 / 50%);
	--red-light: #f00;
	--red-dark: #ce0505;

	// Эффекты
	--transition-base: 0.3s ease;
}
