.Modal {
  position: fixed;
  inset: 0;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.content {
  max-width: 60%;
  padding: 20px;
  border-radius: 12px;
  background-color: var(--bg-color);
  transform: scale(0.5);
  transition: transform 0.9s ease-in-out;
}

.opened {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  z-index: var(--modal-z-index);

  .content {
    transform: scale(1);
  }
}

.isClosing {
  .content {
    transform: scale(0.2);
  }
}
