.boardDetails {
	overflow: auto hidden;
	padding: var(--spacing-xl) var(--spacing-xl);
	border-radius: var(--border-radius-l);
	user-select: none;
	scrollbar-color: rgba(255, 255, 255, 0.4) rgba(0, 0, 0, 0.15);
	scrollbar-width: auto;
}

.dragOverlayColumn {
	--card-width: 272px;
	width: var(--card-width);
}
