.boardCardActions {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 3;
	padding: var(--spacing-s) var(--spacing-m);
	transition:
		opacity var(--transition-base),
		visibility var(--transition-base);
}

.deleteItem.deleteItem {
	color: var(--text-danger);
}
