.backgroundPreview {
	max-width: 200px;
	padding: var(--spacing-l) var(--spacing-l);
	margin: 0 auto;
}

.previewIcon {
	display: flex;
	align-items: center;
	flex: 0 0 186px;
	width: 186px;
	height: 102px;
}
