.backgroundPreview {
	max-width: 200px;
	padding: var(--spacing-l) var(--spacing-l);
	margin: 0 auto;
}

.previewIcon.previewIcon {
	--icon-size: 186px;
	--icon-height: 102px;
	display: flex;
	align-items: center;
}
