.card {
	--card-padding: 15px;
	padding: var(--card-padding);
	border-radius: var(--border-radius-m);
	box-shadow: var(--shadow-card);
	overflow: hidden;

	@media (max-width: 767px) {
		--card-padding: 12px;
	}
}

.normal {
	background: var(--bg-card);
}

.outlined {
	border: 1px solid var(--border-primary);
}

.max {
	width: 100%;
}
