.taskComment {
	padding: var(--spacing-m);
	border: 1px solid var(--border-primary);
	border-radius: var(--border-radius-s);
	background: var(--bg-card);
}

.authorName {
	font: var(--font-s);
	color: var(--text-primary);
}

.createdAt {
	font: var(--font-xs);
	color: var(--text-secondary);
}

.actions {
	flex-shrink: 0;
}
