.grid {
	width: 100%;
}

.createBoard {
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}

.createBoardTrigger {
	width: 100%;
	min-height: 116px;
}

.workspaceGrid {
	grid-template-columns: repeat(1, 1fr);

	@media (min-width: 360px) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media (min-width: 768px) {
		grid-template-columns: repeat(3, 1fr);
	}

	@media (min-width: 992px) {
		grid-template-columns: repeat(4, 1fr);
	}
}
