.popover {
	display: inline-block;
}

.panel {
	min-width: var(--button-width, 180px);
	border: 1px solid var(--border-primary);
	background: var(--bg-card);
	box-shadow: var(--shadow-card);
	backdrop-filter: blur(8px);
	z-index: 4;

	&.s {
		padding: var(--spacing-xs) var(--spacing-s);
		border-radius: var(--border-radius-s);
	}

	&.m {
		padding: var(--spacing-s) var(--spacing-s);
		border-radius: var(--border-radius-m);
	}

	&.l {
		padding: var(--spacing-l) var(--spacing-m);
		border-radius: var(--border-radius-m);
	}
}
