@import "reset";
@import "variables/global";
@import "themes/normal";
@import "themes/dark";

body {
	font: var(--font-m);
	background-color: var(--bg-app);
	color: var(--text-primary);
}

.app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.content-page {
	display: flex;
	flex-direction: column;
	flex: 1;
}

*:focus {
	outline: none;
}

*:focus-visible {
	outline: 1px solid var(--border-focus);
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	white-space: nowrap;
	border: 0;
}
