.taskDetailsModal {
	--modal-width: 1200px;
}

.taskDetailsModalInner {
	width: 100%;
}

.content {
	width: 100%;
	align-items: flex-start;

	@media (max-width: 767px) {
		flex-direction: column;

		> * {
			width: 100%;
		}
	}
}

.editSection,
.commentsSection {
	flex: 1;
	min-width: 0;
}

.commentsSection {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-m);
}
