.boardDetailsHeader {
	width: 100%;
	padding: var(--spacing-m) var(--spacing-xl);
	background: var(--overlay-bg);
}

.titleField {
	max-width: 300px;
}

.optionsTrigger {
	width: 38px;
	height: 38px;
}

.deleteItem.deleteItem {
	color: var(--text-danger);
}
